body {
  background-color: cornflowerblue;
}

h1 {
  display: flex;
  justify-content: center;
}

.centro {
  display: flex;
  justify-content: center;
}

.gap {
  gap: 20px;
  margin: 10px;
  padding: 10px;
}

ul {
  margin: 10;
  gap: 10px;
  padding: 0;
}

.post-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  width: 300px;
}
