<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/Projetos_Passados/gET_Post_Template/Aula10style.css">
</head>
<body>
    
    <p>Nome: <%= nome %> </p>
    <p>Login: <%= login %></p>
    <p>Senha: <%= senha %></p>
    <p>Nascmento: <%= nasc %></p>
</body>
</html>