<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      rel="stylesheet"
      href="/Projetos_Passados/Update_Delete/Aula12style.css"
    />
  </head>
  <body>
    <p><%= resposta %></p>

    <a href="/Projetos_Passados/Update_Delete/cadastro.html">Voltar</a>
  </body>
</html>
